# Basic `dependabot.yml` file with
# minimum configuration for two package managers

version: 2
updates:
  # TODO: fix　to suit your requirements
  - package-ecosystem: "gomod"
    directory: "/go-backend"
    open-pull-requests-limit: 2
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "dependabot"
    commit-message:
      prefix: "chore(go-backend)"

  # TODO: fix　to suit your requirements
  - package-ecosystem: "docker-compose"
    directory: "/go-backend"
    open-pull-requests-limit: 1
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "dependabot"
    commit-message:
      prefix: "chore(go-backend docker)"

  # TODO: fix　to suit your requirements
  - package-ecosystem: "github-actions"
    directory: "/.github"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    labels:
      - "dependencies"
      - "dependabot"
    groups:
      github-actions:
        patterns:
          - "*"
    commit-message:
      prefix: "chore(github-actions)"
