version: '3.8'
services:
  db:
    container_name: db
    image: postgres:18.1
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: backend

volumes:
  postgres_data:
