name: ci-backend
on:
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/ci-backend-lint.yml"
      - "!**.md"

permissions:
  contents: read
  # Optional: allow read access to pull requests. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup backend
        uses: ./.github/actions/setup-backend
        with:
          go-version: '1.25.6'
          sqlc-version: '1.30.0'
      - name: Setup golang-ci
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.8
          install-only: true
      - name: Lint
        run: make lint

  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup backend
        uses: ./.github/actions/setup-backend
        with:
          go-version: '1.25.6'
          sqlc-version: '1.30.0'
      - name: Unit test
        run: make test-unit
  
  integration-test:
    name: Integration test
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: backend

    services:
      postgres:
        image: postgres:18.1
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: it
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup backend
        uses: ./.github/actions/setup-backend
        with:
          go-version: '1.25.6'
          sqlc-version: '1.30.0'
      - name: Integration test
        run: make test-integration
        env:
          CI: true
          DATABASE_DSN: postgres://postgres:postgres@localhost:5432/it
