name: ci-backend-ut
on:
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/ci-backend-ut.yml"
      - "!**.md"

permissions:
  contents: read
  # Optional: allow read access to pull requests. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup backend
        uses: ./.github/actions/setup-backend
        with:
          go-version: '1.25.6'
          sqlc-version: '1.30.0'
      - name: Unit test
        run: make test-unit
