name: ci-backend-lint
on:
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/ci-backend-lint.yml"
      - "!**.md"

permissions:
  contents: read
  # Optional: allow read access to pull requests. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup golang
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Setup sqlc
        uses: sqlc-dev/setup-sqlc@v4
        with:
          sqlc-version: '1.30.0'
      - name: generate sqlc client
        run: make generate-db-client
      - name: Setup golang-ci
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.8
          install-only: true
      - name: Lint
        run: make lint
