name: ci-backend-ut
on:
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/ci-backend-ut.yml"
      - "!**.md"

permissions:
  contents: read
  # Optional: allow read access to pull requests. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup golang
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Setup sqlc
        uses: sqlc-dev/setup-sqlc@v4
        with:
          sqlc-version: '1.30.0'
      - name: generate sqlc client
        run: make generate-db-client
      - name: Unit test
        run: make test-unit
